/.git
/.vscode
/.idea/
/Command.txt
/Fenix2iFlyNDBConverter.exe
/icon.ico
/dist
PySrc/Terminal/__pycache__
PySrc/Terminal/__pycache__
PySrc/Enroute/__pycache__
PySrc/Enroute/Route/__pycache__
/target
/target-test
*.ps1
/debug
/reports
/output/
